{% extends "index.html" %}

{% block script %}
	<script src="{{ url_for('static',filename='js/jquery-1.11.1.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/jquery.validate.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/messages_zh.js') }}"></script>
	<script>
		$().ready(function() {
    $("#form").validate();
		})
	</script>
{% endblock script %}


{% block styles %}
	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" type="text/css" href="/static/css/style-1.css" />
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css.map">
	<style>
	.main {
    width: 500px;
    height: 600px;
    margin: 60px auto 0;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    vertical-align: middle;
    display: inline-block;
	}

	body{
	background: #f1f1f1;
	}

	.sign-in-button {
    width: 100%;
    padding: 9px 18px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    color: #fff;
    background: #3194d0;
    cursor: pointer;
    outline: none;
    display: block;
    clear: both;
}

	</style>
{% endblock %}

{% block title %} 用户登录 {% endblock title %}

{% block body %}
{% block content %}
			<div class="logo">
				<a href="/"><img style="width:20%;height:20%" src="/static/img/logo.png" alt="Logo"></a>
			</div>
			{% block message %}
				<script>
					function close_flash(){
					var btn = document.getElementById('flash')
                    btn.style.display = 'none'
          			}
				</script>
                <div class="container" id="flash" style="text-align:center;">
                    <div class="row clearfix">
                        {% for message in get_flashed_messages(with_categories=True) %}
						{% if message[1] != 'Please log in to access this page.' %}
                            <div class="alert alert-{{ message[0] }}">
                                <button type="button" class="close" data-dismiss="alert" onclick="close_flash()">&times;</button>
								{{ message[1] }}
                            </div>
						{% endif %}
                        {% endfor %}
                    </div>
                </div>
		{% endblock message %}
			<div class="main" style="margin-left:37%">
				<div style="font-size:30px;">
					<a href="{{url_for('auth.login')}}" style="margin-right:40%;margin-left:10%;color:#ea6f5a;padding: 10px;border-bottom: 2px solid #ea6f5a;">登录</a>
					<a href="{{url_for('auth.register')}}" style="color:#969696">注册</a>
				</div>
					<div class="col-sm-5">
							<form id="form" method="post" class="form">
								<div class="form-group" style="color:red;width:370px;margin-top:30%">
		        				 <label class="control-label" for="email" style="color:black">邮箱</label>
									<input class="form-control" id="email" name="email" required type="email" minlength="2" maxlength="20" >
								</div>
								<div class="form-group" style="color:red;width:370px;margin-top:10%">
									<label class="control-label" for="password" style="color:black">密码</label>
									<input class="form-control"  id="password" name="password" required type="password" minlength="6" maxlength="10" >
								</div>
								<div class="form-group" style="margin-top:20%">
									Remember Me&nbsp;&nbsp;&nbsp;&nbsp;{{ form.remember_me }}
									<br>
									<br>
									<a href="{{url_for('auth.forget')}}" class="forgot-password">忘记密码</a>
									{{ form.submit(class="sign-in-button", style="margin-top:50%;width:400px;height:60px;") }}
								</div>
							</form>
						</div>
					</div>
{% endblock content %}
{% endblock body %}
