Babel==2.5.3
Flask==1.0.2
Flask-Admin==1.5.0
Flask-BabelEx==0.9.3
flask-blueprint==1.2.2
Flask-Bootstrap==3.0.3.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.0.3
Flask-Moment==0.6.0
Flask-Principal==0.4.0
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.2
Jinja2==2.10
requests==2.19.1
SQLAlchemy==1.2.7
tornado==5.0
Whoosh==2.7.4
WTForms==2.1
flask-gemoji==0.2.0
mysql-connector-python==8.0.14
