{% extends "edit/edit_basic.html" %}

{% block content %}
        <div class="main" style="margin-left:15%;width:300px; overflow-y:scroll">
                <ul class="nav">
                    <li><a href="{{url_for('main.edit_basic')}}">修改基础信息</a></li>
                    <li><a  style="color: #c59a6d" href="{{url_for('main.edit_password')}}">修改密码</a></li>
                    <li><a href="{{url_for('main.edit_email')}}">解绑邮箱</a></li>
					<li><a href="{{url_for('user.my_follow')}}">我关注的人</a></li>
                    <li><a href="{{url_for('user.follow_me')}}">关注我的人</a></li>
                </ul>
            </div>
			<div class="main" style="margin-left:10%">
				<div style="font-size:30px;">
					<a style="color:#ea6f5a;padding: 10px;border-bottom: 2px solid #ea6f5a;">修改密码</a>
				</div>
					<div class="col-sm-5">
							<form id="form" method="post" class="form">
								{% if session['check'] != 'true' %}
								<div class="form-group" style="color:red;width:370px;margin-top:25%">
									<label class="control-label" for="old" style="color:black">原密码</label>
									<input class="form-control"  id="old" name="old" required type="password" minlength="6" maxlength="10" >
								</div>
								{% endif %}
								<div class="form-group" style="color:red;width:370px;margin-top:25%">
									<label class="control-label" for="password" style="color:black">密码</label>
									<input class="form-control"  id="password" name="password" required type="password" minlength="6" maxlength="10" >
								</div>
								<div class="form-group" style="color:red;width:370px;margin-top:25%">
									<label class="control-label" for="password2" style="color:black">确认密码</label>
									<input class="form-control"  id="password2" name="password2" required type="password" minlength="6" equalTo="#password"  maxlength="10">
								</div>
								<div class="form-group" style="margin-top:20%">
									{{ form.submit(class="sign-in-button", style="margin-top:20%;width:400px;height:60px;") }}
								</div>
							</form>
						</div>
					</div>
{% endblock content %}