{% extends "index.html" %}

{% block metas %}
{{super()}}
{% endblock metas %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}"/>
<script src="{{ url_for('static',filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/editormd.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/lib/marked.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/lib/prettify.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/lib/raphael.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/lib/underscore.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/lib/sequence-diagram.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/lib/flowchart.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/lib/jquery.flowchart.min.js') }}"></script>
{% endblock %}
{% block title %} {{post.title}} {% endblock title %}

{% block body %}
{% block navbar %}
{{super()}}
{% endblock navbar %}

{% block message %}
<div class="container" id="flash" style="text-align:center;margin-top:1%">
    <div class="row clearfix">
        {% for message in get_flashed_messages(with_categories=True) %}
        {% if message[1] != 'Please log in to access this page.' %}
        <div class="alert alert-{{ message[0] }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock message %}

{% block content %}

<div class="container" style="display: block;">
    <div class="markdown-body editormd-preview-container">
        <div class="section-title" style="margin-bottom:5%">
            <h2>{{post.title}}</h2>
            <div style="float:right">
                {% if not current_user.is_anonymous %}
                {% if is_collect %}
                <a href="/cancel/{{post.id}}">取消收藏</a>
                {% else %}
                <a href="/collect/{{post.id}}">收藏该文章</a>
                {% endif %}
                {% endif %}
            </div>

        </div>
        <div id="editormd-view">
            <textarea name="editormd-markdown-doc">{{post.content}}</textarea>
        </div>

    </div>
    <hr style="width: 100%;margin-top:10%">

    {% if comments %}
    <table data-toggle="table" class="table-hover table">
        <thead>
        <tr>
            <th style="color:black;width:300px;">评论者</th>
            <th style="color:black;width: 400px;">评论内容</th>
            <th style="color:black">评论时间</th>
            <th style="color:black">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
        <tr>
            {% if comment.comment_user %}
            <td style="color:black"><img src="/show_image/{{comment.img}}" style="height: 30px;width: 30px">&nbsp;
                <a href="/my_doc/{{ comment.author_id }}/1" style="color: blue;">{{comment.author}}</a> 回复
                <a href="/my_doc/{{ comment.comment_id }}/1" style="color: blue;">{{ comment.comment_user }}</a>:
            </td>
            {% else %}
            <td style="color:black"><img src="/show_image/{{comment.img}}" style="height: 30px;width: 30px">&nbsp;
                <a href="/my_doc/{{ comment.author_id }}/1" style="color: blue;">{{comment.author}}</a></td>
            {% endif %}
            <td style="color:black">
                <div id="view_{{comment.id}}">
                    <textarea>{{comment.body|gemoji}}</textarea>
                </div>
            </td>
            <td style="color:black">{{comment.timestamp}}</td>
            <td style="color:black">{{comment.html|safe}}</td>
        </tr>
        <script>
            $(function () {
                var testEditormdView = editormd.markdownToHTML("view_{{comment.id}}", {
                    width: "90%",  // 长度
                    theme: "default", // 主题
                    previewTheme: "default",
                    editorTheme: "base16-light",
                    emoji: true,
                    taskList: true,
                    path: "/static/editormd/lib/"
                });
            });
        </script>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <button class="btn btn-default" style="margin-right: 3%;margin-bottom: 5%;" onclick="addcomment()">添加评论
    </button>
    <button id="remove" class="btn btn-default" style="display: none" onclick="removecomment()">取消</button>
    <br>
</div>

<div id="addcomment" style="display: none;">
    <hr style="width: 65%;">
    <form id="form" method="post" action="/add_comment/{{post.id}}">
        <div class="form-group">
            <div id='comment'>
                <textarea name="comment" class="editormd-markdown-textarea"></textarea>
            </div>
            <button type="submit" class="btn-default btn" style="margin-left: 79%">提交</button>
        </div>
    </form>
</div>

<a href="#" id="toTop" title="点击移动到顶部!" style="display: block;bottom: 50px;margin-right: 100px;height: 40px;"><span
        id="toTopHover" style="opacity: 0;"></span></a>
{% endblock content %}


{% block footer %}
{{super()}}
{% endblock footer %}

{% block content_script %}
<script>

    $(function () {
        var testEditormdView;
        testEditormdView = editormd.markdownToHTML("editormd-view", {
            width: "90%",  // 长度
            height: "700px",  // 宽度
            theme: "default", // 主题
            previewTheme: "default",
            editorTheme: "base16-light",
            searchReplace: true,
            syncScrolling: "single",  // 保存 HTML 到 Textarea
            emoji: true,
            taskList: true,
            tocm: true,         // Using [TOCM]
            tex: true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart: true,             // 开启流程图支持，默认关闭
            sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
            path: "/static/editormd/lib/"
        });
    });


    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });

    function addcomment() {
        var handler = document.getElementById("addcomment")
        handler.setAttribute("style", "margin-top:20px;")
        var btn = document.getElementById("remove")
        btn.setAttribute("style", "float:right;margin-right: 3%;margin-bottom: 5%;float:right")

        $(function () {
            testEditor = editormd("comment", {
                width: "65%",  // 长度
                height: "300px",  // 宽度
                theme: "default", // 主题
                previewTheme: "default",
                editorTheme: "base16-light",
                searchReplace: true,
                syncScrolling: "single",  // 保存 HTML 到 Textarea
                emoji: true,
                toolbarIcons: function () {
                    // Or return editormd.toolbarModes[name]; // full, simple, mini
                    // Using "||" set icons align right.
                    return ["undo", "redo", "|", "bold", "hr", "|", "code", "image", "emoji", "||", "watch", "preview"]
                },
                taskList: true,
                tocm: true,         // Using [TOCM]
                dialogLockScreen: false,//设置弹出层对话框不锁屏，全局通用，默认为true
                dialogShowMask: false,//设置弹出层对话框显示透明遮罩层，全局通用，默认为true
                dialogDraggable: false,//设置弹出层对话框不可拖动，全局通用，默认为true
                dialogMaskOpacity: 0.4, //设置透明遮罩层的透明度，全局通用，默认值为0.1
                dialogMaskBgColor: "#000",//设置透明遮罩层的背景颜色，全局通用，默认为#fff
                codeFold: true,
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "/upload_images",//注意你后端的上传图片服务地址
                path: "{{ url_for('static',filename='editormd/lib/') }}"
            });
        });
    }

    function removecomment() {
        var handler = document.getElementById("addcomment")
        handler.setAttribute("style", "display:none")
        var btn = document.getElementById("remove")
        btn.setAttribute("style", "display: none")
    }

    function edit_comment(key) {
        addcomment();
        form.setAttribute("action", "/edit_comment/" + key)
    }

    function response_comment(key) {
        addcomment();
        form.setAttribute("action", "/response_comment/{{ post.id }}/" + key);
    }

</script>
{% endblock content_script %}

{% endblock body %}

