{% extends "index.html" %}
{% block metas %}
{{super()}}
{% endblock metas %}
{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}"/>
    <script src="{{ url_for('static',filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.js') }}"></script>
{% endblock %}
{% block title %} 创建博客 {% endblock title %}

{% block body %}

    {% block navbar %}
    {{super()}}
    {% endblock navbar %}

{% block message %}
                <div class="container" id="flash" style="text-align:center;margin-top:1%">
                    <div class="row clearfix">
                        {% for message in get_flashed_messages(with_categories=True) %}
						{% if message[1] != 'Please log in to access this page.' %}
                            <div class="alert alert-{{ message[0] }}">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
								{{ message[1] }}
                            </div>
						{% endif %}
                        {% endfor %}
                    </div>
                </div>
{% endblock message %}

{% block content %}
    <div class="row" style="margin-top:5%">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="container" >
                <div class="form-group" style="float:left">
                    {{ form.title(class='form-control', style="width:100%;height:50px;font-size:30px;",value="无标题文章", required="required") }}
                </div>
                <div class="form-group" style="float:right">
                     {{ form.submit(class="btn btn-default submit", style="height:50px", onclick="get_html()") }}
                </div>
            </div>

            <div class="form-group">
                {{ form.text.label(style="margin-left:48%;margin-top:30px;font-size:40px;") }}
                <div id="editormd" class="form-control">
                    {{ form.text(style="display:none;") }}
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

{% block footer %}
{{super()}}
{% endblock footer %}

{% block content_script %}
             <script>
				$(document).ready(function(){
					$(".dropdown").hover(
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');
						}
					);
				});
			</script>
{% endblock content_script %}

{%  endblock body %}

{% block js %}
    <script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>

    <script type="text/javascript">
        var testEditor;

        $(function () {
            testEditor = editormd("editormd", {
                width: "90%",  // 长度
                height: "700px",  // 宽度
                theme : "default", // 主题
                 previewTheme : "default",
                editorTheme : "base16-light",
                searchReplace : true,
                syncScrolling: "single",  // 保存 HTML 到 Textarea
                 emoji : true,
                        taskList : true,
                        tocm            : true,         // Using [TOCM]
                        tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                        flowChart : true,             // 开启流程图支持，默认关闭
                        sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,

                searchReplace : "true",
                path: "{{ url_for('static',filename='editormd/lib/') }}"
            });
        });

           function get_html() {

            var html = document.getElementsByClassName("editormd-preview")[0].innerHTML;
            console.log(html);
                 $.getJSON('/get_html', {
                    html : document.getElementsByClassName("editormd-preview")[0].innerHTML
                        }, function (data) {
                            //接受到后台传来的json数据后的动作
                            console.log(data)
                        }
                )

                var Code = testEditor.getMarkdown();

                 if(Code.length === 0){
                     window.onbeforeunload = confirmExit;
                 function confirmExit()
                  {
                 return "Are you sure you want to exit this page?";
                     }
                 }
                return false; }
    </script>

{% endblock js %}