{% extends "index.html" %}

{% block metas %}
    {{ super() }}
{% endblock metas %}

{% block title %}个人文章{% endblock title %}

{% block styles %}
    {{ super() }}
    <style>
        table {
            /*为表格设置合并边框模型*/
            border-collapse: collapse;
            /*列宽由表格宽度和列宽度设定*/
            table-layout: fixed;
        }
    </style>
    <script src="{{ url_for('static',filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.js') }}"></script>
{% endblock %}

{% block body %}
    {% block navbar %}
        {{ super() }}
    {% endblock navbar %}
    {% block message %}
        <div class="container" id="flash" style="text-align:center;margin-top:1%">
            <div class="row clearfix">
                {% for message in get_flashed_messages(with_categories=True) %}
                    {% if message[1] != 'Please log in to access this page.' %}
                        <div class="alert alert-{{ message[0] }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message[1] }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endblock message %}

    {% block content %}

        <div class="container" style="margin-top:2%;">
            {% if length > 0 %}
                <h1>当前共有{{ length }}篇文章!</h1>
                <table class='table table-hover' id="my_table">
                    <tr>
                        <th>文章名称</th>
                        <th>更新时间</th>
                        {% if not current_user.is_anonymous and current_user.id == docs[0]['user'] %}
                            <th>操作</th>
                        {% endif %}
                    </tr>
                    {% for doc in docs %}
                        <tr id="{{ docs.index(doc) + 1 }}">
                            <td style="width:100%;word-wrap:break-word;">
                                <li style="color:#c62323;">
                                    <a href='/display/{{ doc['id'] }}'>{{ doc['title'] }}</a>
                                </li>
                            </td>
                            <td style="color: black;width:100%;word-wrap:break-word;">
                                {{ doc.update_time }}
                            </td>
                            {% if not current_user.is_anonymous and current_user.id == doc['user'] %}
                                <td style="width:100%;word-wrap:break-word;">
                                    <a href='/download/{{ doc['id'] }}'>导出为PDF</a>
                                    <a href='/del_file/{{ doc['id'] }}/{{ page }}' style="margin-left: 5%">删除</a>
                                    <a href='/edit_file/{{ doc['id'] }}' style="margin-left: 5%">编辑</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                <div style="margin-left:30%;margin-top:5%" id="barcon">
                    {% if page == 1 %}
                        <a href="{{ url_for('main.my_doc', key=key, _id=page) }}">&lt;上一页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    {% else %}
                        <a href="{{ url_for('main.my_doc', key=key, _id=page - 1) }}">&lt;上一页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    {% endif %}
                    {% for index in range(1, page_num + 1) %}
                        {% if index == page %}
                            <a style="color: #c59a6d;font-weight:bold;"
                               href="{{ url_for('main.my_doc', key=key, _id=index) }}">{{ index }}&nbsp;&nbsp;&nbsp;</a>
                        {% else %}
                            <a href="{{ url_for('main.my_doc', key=key, _id=index) }}">{{ index }}&nbsp;&nbsp;&nbsp;</a>
                        {% endif %}
                    {% endfor %}
                    {% if page == page_num %}
                        <a href="{{ url_for('main.my_doc', key=key, _id=page) }}">下一页&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    {% else %}
                        <a href="{{ url_for('main.my_doc', key=key, _id=page + 1) }}">下一页&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    {% endif %}
                </div>
            {% else %}
                <h3>好遗憾啊,当前还没有创建过文章。</h3>
            {% endif %}
        </div>


    {% endblock content %}


    {% block footer %}
        {{ super() }}
    {% endblock footer %}

    {% block content_script %}
        <script>
            $(document).ready(function () {
                $(".dropdown").hover(
                    function () {
                        $('.dropdown-menu', this).stop(true).slideDown("fast");
                        $(this).toggleClass('open');
                    },
                    function () {
                        $('.dropdown-menu', this).stop(true).slideUp("fast");
                        $(this).toggleClass('open');
                    }
                );
            });
        </script>
    {% endblock content_script %}

{% endblock body %}