{% extends "index.html" %}

{% block metas %}
{{super()}}
{% endblock metas %}
{% block styles %}
{{super()}}
    <script src="{{ url_for('static',filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.js') }}"></script>
{% endblock %}

{% block body %}
    {% block navbar %}
    {{super()}}
    {% endblock navbar %}
{% block message %}
                <div class="container" id="flash" style="text-align:center;margin-top:1%">
                    <div class="row clearfix">
                        {% for message in get_flashed_messages(with_categories=True) %}
						{% if message[1] != 'Please log in to access this page.' %}
                            <div class="alert alert-{{ message[0] }}">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
								{{ message[1] }}
                            </div>
						{% endif %}
                        {% endfor %}
                    </div>
                </div>
{% endblock message %}

{% block content %}

<div class="container" style="margin-top:5%">
    {% if length > 0 %}
    <h1>当前共有{{length}}篇文章!</h1>
    {% for doc in docs %}
    <li style="color:#c62323"><a href='/display/{{doc.title}}'>{{doc.title}}</a></li>
    {% endfor %}
    {% else %}
    <h3>好遗憾啊,您当前还没有创建过文章。</h3>
    {% endif %}
</div>


{% endblock content %}


{% block footer %}
{{super()}}
{% endblock footer %}

{% block content_script %}
             <script>
				$(document).ready(function(){
					$(".dropdown").hover(
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');
						}
					);
				});
			</script>
{% endblock content_script %}

{% endblock body %}