{% extends "base.html" %}

{% block head %}
    {%block title %}Welcome to my personal website!{% endblock %}

    {% block metas %}
	<meta name="description" content="La casa free real state fully responsive html5/css3 home page website template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% endblock metas %}

    {% block styles %}
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="/static/css/zoomslider.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/style-1.css" />
	<link rel="stylesheet" href="/static/css/responsive.css" media="screen">
    <script type="text/javascript" src="/static/js/modernizr-2.6.2.min.js"></script>
    {% endblock styles %}
	{% endblock head %}

{% block body %}

{%block navbar %}
<div id="demo-1" data-zs-src='["/static/images/2.jpg", "/static/images/1.jpg", "/static/images/3.jpg","/static/images/4.jpg"]' data-zs-overlay="dots">
		<div class="demo-inner-content">
		<!--/header-w3l-->
			   <div class="header-w3-agileits" id="home">
			     <div class="inner-header-agile">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a  href="index.html"><span>M</span>ovies <span>P</span>ro</a></h1>
					</div>
					<!-- navbar-header -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
							<li class="active"><a href="index.html">Home</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Genre <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3">
									<li>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="genre.html">Action</a></li>
											<li><a href="genre.html">Biography</a></li>
											<li><a href="genre.html">Crime</a></li>
											<li><a href="genre.html">Family</a></li>
											<li><a href="horror.html">Horror</a></li>
											<li><a href="genre.html">Romance</a></li>
											<li><a href="genre.html">Sports</a></li>
											<li><a href="genre.html">War</a></li>
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="genre.html">Adventure</a></li>
											<li><a href="comedy.html">Comedy</a></li>
											<li><a href="genre.html">Documentary</a></li>
											<li><a href="genre.html">Fantasy</a></li>
											<li><a href="genre.html">Thriller</a></li>
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="genre.html">Animation</a></li>
											<li><a href="genre.html">Costume</a></li>
											<li><a href="genre.html">Drama</a></li>
											<li><a href="genre.html">History</a></li>
											<li><a href="genre.html">Musical</a></li>
											<li><a href="genre.html">Psychological</a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
									</li>
								</ul>
							</li>
							<li><a href="series.html">tv - series</a></li>
							<li><a href="news.html">news</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Country <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3">
									<li>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<li><a href="genre.html">Asia</a></li>
												<li><a href="genre.html">France</a></li>
												<li><a href="genre.html">Taiwan</a></li>
												<li><a href="genre.html">United States</a></li>
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<li><a href="genre.html">China</a></li>
												<li><a href="genre.html">HongCong</a></li>
												<li><a href="genre.html">Japan</a></li>
												<li><a href="genre.html">Thailand</a></li>
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<li><a href="genre.html">Euro</a></li>
												<li><a href="genre.html">India</a></li>
												<li><a href="genre.html">Korea</a></li>
												<li><a href="genre.html">United Kingdom</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</li>
								</ul>
							</li>
							<li><a href="list.html">A - z list</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>

					</div>
					<div class="clearfix"> </div>
				</nav>

			<div class="container text-center">
            <div class="content">
                <div class="header-text btn">
                    <h1><span id="head-title" style="color:white"></span></h1>
                </div>
            </div>

        </div>
			</div>

			   </div>
		</div>
    </div>


{% endblock navbar %}
{% block content %}
      <div id="services">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>Merry Christmas</h2>
						<hr>
                    </div>
                    <p>Nice meet to you.</p>
                </div>
            </div>

            <div class="space"></div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <span class="fa fa-book fa-3x"></span>
                        <h4>Past</h4>
                        <p>轻轻的风，吹开你紧琐的眉头，让所有的愁向后飞去。请不要回头去追那些不属于你的忧愁，你应该向前奔跑，因为快乐在前方! </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <span class="fa fa-bicycle fa-3x"></span>
                        <h4>Now</h4>
                        <p>内心越强大，笑的越漂亮。</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <span class="fa fa-plug fa-3x"></span>
                        <h4>Future</h4>
                        <p> 在许多的犹豫中，你做对了一件事情，那就是勇敢地上路，不要徘徊在许多假设性的框架里。那是人生的一个大关卡，你做了一个正确的选择，那就是：尝试、再尝试，不害怕所有的新鲜事。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="cta">
        <div class="container text-center">
            <a href="#" class="btn go-to-btn">Check our shop</a>
        </div>
    </div>

<div id="about-us">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>About Us</h2>
						<hr>
                    </div>
                    <p>有时候，不小心知道了一些事，才发现自己所在乎的事是那么可笑，所以啊，对自己好点，反正已经这么辛苦了。</p>

				</div>
<div class="col-md-10 col-sm-10" style="margin-left:35%;margin-top:50px;">
                    <div class="text-center">
                        <div class="col-md-4 col-sm-4">
                            <div class="team">
                                <img src="/static/images/me.jpg" class="img-responsive img-circle" alt="...">
                                <br>
                                <h4>就是SSS...J啊</h4>
                                <p class="small">Web Designer</p>
						<hr>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

    </div>

{% endblock content %}

{% block content_script %}
    <script src="/static/js/jquery-1.11.1.min.js"></script>
			<script>
				$(document).ready(function(){
					$(".dropdown").hover(
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');
						}
					);
				});
			</script>
    <script type="text/javascript" src="/static/js/jquery.zoomslider.min.js"></script>
	<script type="text/javascript" src="/static/js/typed.js"></script>
	<script>
      $(function(){
          $("#head-title").typed({
            strings: ["123456!^1000", "654321！^1000"],
            typeSpeed: 100,
            loop: true,
            startDelay: 100
          });
      });
    </script>
{% endblock content_script %}
{% block footer %}

<footer>
		<div class="wrapper footer">
			<ul>
				<li class="links">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/love">Love</a></li>
						<li><a href="/static/birthday.html">Merry Christmas</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</li>
				<li class="about" style="float:right">
					<ul>
						<li><a href="http://facebook.com/pixelhint" class="facebook" target="_blank"></a></li>
						<li><a href="http://twitter.com/pixelhint" class="twitter" target="_blank"></a></li>
						<li><a href="http://plus.google.com/+Pixelhint" class="google" target="_blank"></a></li>
						<li><a href="#" class="skype"></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</footer>

{% endblock footer %}
{% endblock body %}